<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MapDicer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <!--
      <remove invariant="System.Data.SQLite.Linq" />
      <add name="SQLite Data Provider (Linq)" invariant="System.Data.SQLite.Linq" description=".NET Framework Data Provider for SQLite (Linq)" type="System.Data.SQLite.Linq.SQLiteProviderFactory, System.Data.SQLite.Linq" />
      -->
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <!--
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      -->
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <!--
      <provider invariantName="System.Data.SQLite.Linq" type="System.Data.SQLite.Linq.SQLiteProviderServices, System.Data.SQLite.Linq" />
      -->
    </providers>
  </entityFramework>
  <!-- Says to remove all of the above (but that breaks things): https://www.codeproject.com/Articles/1158937/SQLite-with-Csharp-Net-and-Entity-Framework?msg=5772111#xx5772111xx
  (replaced by SQLiteConfiguration.cs -->
      <userSettings>
    <MapDicer.Properties.Settings>
      <setting name="DbConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DbFile" serializeAs="String">
        <value>Default.sqlite</value>
      </setting>
    </MapDicer.Properties.Settings>
  </userSettings>
</configuration>